body {
  width: 75%;
  margin: 0 auto;
  padding: 30px; }

p {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.3); }
  p .first {
    color: black;
    font-weight: 800; }

.second {
  font-size: 2em;
  font-color: #e9f4ff;
  font-weight: 700; }
